 {#}
 	Border Array:
 		- http://css3pie.com/demos/border-radius/
 {#}
 <div class="btn-group btn-group-justified">
        <label id="block-quote-form-navbar-1" class="btn btn-success disabled btn-navbar">1. Details</label>
        <label id="block-quote-form-navbar-2" class="btn btn-default disabled btn-navbar">2. Review</label>
        <label  id="block-quote-form-navbar-3" class="btn btn-default disabled btn-navbar">3. Confirmation</label>
</div>