{% set classColLbl = 'col-xs-3'  %}
{% set classColTxt = 'col-xs-8'  %}
<div id="block-dashboard-quote-view" class="row">
<div class="col-xs-12 col-xs-offset-0">

	<div class="row">
		<div class="{{ classColLbl }}">
			<h3>{% trans %}Quotation{% endtrans %} #</h3>
		</div>
		<div class="{{ classColTxt }}">
			{% if quote.id %}
			<h3>{{ quote.code }}</h>
			{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Project{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.name }}
		</div>
	</div>
	
	{#}
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Information{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.description }}
		</div>
	</div>
	{#}
	
	<div class="row"><div class="col-xs-12"> <hr> </div></div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Quantity{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.quantity }}
		</div>
	</div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Currency{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.currency|upper }}
		</div>
	</div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Measurement Unit{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{#}
			{{ quote.measureUnit|capitalize }}
			{#}
			{% if quote.measureUnit == 'imperial' %}
				{% set unit = 'inch' %}
			{% else %}
				{% set unit = 'cm' %}
			{% endif %}
			
			{{ unit|capitalize }}
		</div>
	</div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Product{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.detail.product }}
		</div>
	</div>
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Sign type{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{% if 'lt' in quote.detail.designType %}
				{% trans %}Letter{% endtrans %}
			{% elseif 'lg' in quote.detail.designType %}
				{% trans %}Logo{% endtrans %}
			{% elseif 'bh' in quote.detail.designType %}
				{% trans %}Both (Letter and Logo){% endtrans %}
			{% else %}
				n/a
			{% endif %}
		</div>
	</div>
	
	{% if quote.detail.letter is not empty %}
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Letters{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			"{{ quote.detail.letter }}"
		</div>
	</div>
	{% endif %}
	
	{% if quote.detail.numOfGraphicItem > 0 %}
	<div class="row">
		<div class="{{ classColLbl }}">
			# {% trans %}of GraphicElement{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{{ quote.detail.numOfGraphicItem }}
		</div>
	</div>
	{% endif %}
	
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Requirement{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{% if quote.detail.remark is empty %}
				-
			{% endif %}
			{{ quote.detail.remark }}
		</div>
	</div>
	
	
	{#}Documents{#}
	{% if quote.detail.documents is not empty %}
		<div class="row">
			<div class="{{ classColLbl }}">
				{% trans %}Document{% endtrans %}
			</div>
			<div class="{{ classColTxt }}">
				{% for doc in quote.detail.documents %}
					<a href="{{ asset(doc.getWebPath) }}" target="_new">{{ doc.getFilename }}</a>
					<br>
				{% endfor %}
			</div>
		</div>	
		
	{#}scale options{#}
	{% if quote.detail.scaleOption is defined %}
	<div class="row">
		<div class="{{ classColLbl }}">
			{% trans %}Scale{% endtrans %}
		</div>
		<div class="{{ classColTxt }}">
			{% if quote.detail.scaleOption == 1 %}
				1/1
			{% else %}
				{{ quote.detail.otherScale }}
			{% endif %}
		</div>
	</div>
	{% endif %}
			
	{% endif %}
	
	{#}Other Files{#}
	{% if quote.detail.otherDocuments is not empty %}
		<div class="row">
			<div class="{{ classColLbl }}">
				{% trans %}Other File(s){% endtrans %}
			</div>
			<div class="{{ classColTxt }}">
				{% for doc in quote.detail.otherDocuments %}
					<a href="{{ asset(doc.getWebPath) }}" target="_new">{{ doc.getFilename }}</a>
					<br>
				{% endfor %}
			</div>
		</div>	
	{% endif %}

	<div class="row"><div class="col-xs-12"><hr></div></div>
	
	{#}Product Options{#}
	{% for option in quote.detail.itemOptions if 'O' in option.category.methodOfChoice %}
		<div class="row">
			<div class="{{ classColLbl }}">
				{{ option.category }}
			</div>
			<div class="{{ classColTxt }}">
				{% if option.categoryValue is not empty %}
					{{ option.categoryValue }}
				{% else %}
					-
				{% endif %}
			</div>
		</div>
	{% endfor %}
	
	
	{#}Produt Item Dimension{#}
	{% for item in quote.detail.items %}
		<div class="row">
			<div class="{{ classColLbl }}">
				{{ item.name }}
			</div>
			<div class="{{ classColTxt }}">
				{% include "QuotemaxDashboardBundle:Quote:_sub/_quote_itemDimension.html.twig" with {"quote": quote, "item": item} %}
			</div>
		</div>
	
	{% endfor %}
	
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	
	{#}Quote Estimation{#}
	<fieldset>
	<legend>{% trans %}Quote Estimation{% endtrans %}</legend>
		<div class="row">
			<div class="col-xs-2">
				{% trans %}Price{% endtrans %}
			</div>
			<div class="col-xs-2">
				{{ quote.currency|upper}} {{ quote.priceSellingTotalFinalCC }}
			</div>
			<div class="col-xs-2">
				{#}TODO: to be fixed{#}
				{%  if quote.discount != 0 %}
					{% if options is defined %}
						{% trans %}incl.{% endtrans %} {{ options['tokens']['%discount%'] * 100 }}% {% trans %}discount{% endtrans %}
					{% endif %}
					
				{% endif %}	
				
				{#}ToDo: comment out Admin fee{#}
				{%  if quote.adminFee != 0 %}
					<br />
					{% if options is defined %}
						{% trans %}incl.{% endtrans %} {{ quote.currency|upper}} {{ quote.adminFeeCC }} admin fee			
					{% endif %}
				{% endif %}
				
			</div>
			
			<div class="col-xs-2">
				<h4>
				{% trans %}Total{% endtrans %}
				</h4>
			</div>
			<div class="col-xs-2">
				<h4>
				{{ quote.currency|upper}} {{ quote.priceGrandTotalCC }}
				</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-2">
				{% trans %}Transport{% endtrans %}
			</div>
			<div class="col-xs-2">
				{{ quote.currency|upper}} {{ quote.priceTransportCC }}
			</div>
		</div>
		
		{% if quote.priceAdaptorCC > 0 %}
		<div class="row">
			<div class="col-xs-2">
				{% trans %}Adaptor{% endtrans %}
			</div>
			<div class="col-xs-2">
				{{ quote.currency|upper}} {{ quote.priceAdaptorCC }}
			</div>
		</div>
		{% endif %}
		
	</fieldset>
	
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div clss="col-xs-12">&nbsp;</div>
	</div>
	



</div>
</div>
