{% extends layoutExcluded ? 'QuotemaxDashboardBundle::layoutExcluded.html.twig' : 'QuotemaxDashboardBundle::layout.html.twig' %}
{#}
{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}
{#}

{#}
{% extends request.ajax ? "base_ajax.html" : "base.html" %}
{#}

{#}TODO: 
	- search box
	- fix to sort by detail.name
	- actions 'edit' / 'delete'
	- display icons
	

{#}

{% block content %}
<div id="block-pagination" class="row"><div class="col-md-12">
<div id="block-pagination-header" class="row">
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
				 <span class="input-group-btn">
			        <button id="btn-search" class="btn btn-primary" type="button" title="{{ 'Search User'|trans }}"><i class="fa fa-search fa-mg"></i></button>
			      </span>
				  <input id="search-text" type="text" class="form-control" placeholder="{{ 'Search Name, Code or E-mail'|trans }}">
				  <span id="search-clear" class="fa fa-times fa-mg"></span>
				</div>
				
			</div>
			<div class="col-md-3 pull-left">
				{#}
				<select id="search-type" class="form-control input-md" placeholder="{{ 'Filter Type'|trans }}">
					<option value=''>{% trans %}Filter Type{% endtrans %}</option>
					<option value="a:0:{}">{% trans %}Company{% endtrans %}</option>
					<option value="ROLE_ADMIN">{% trans %}Admin{% endtrans %}</option>
				</select>
				{#}
				
				{#}
				<div class="btn-group ">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Filter Type
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
				      <li><a href="#admin">Admin</a></li>
				      <li><a href="#company">Company</a></li>
				    </ul>
				 </div>
				 {#}
			 </div>
		 </div>
	</div>
	<div class="col-md-2 col-md-offset-3 text-right">
		<a href="{{ path('qmxDashboard_admin_user_create') }}" class="btn btn-primary">{% trans %}Add New{% endtrans %}</a>
	</div>
	
	<div class="col-md-12">
		&nbsp;
	</div>
</div>

{% include 'QuotemaxDashboardBundle:User:_list.html.twig' with { 'pagination': pagination} %}
</div></div>

{% if not layoutExcluded %}
<style>
	ul.pagination { margin: 0px 0px;}
	.fa-check { color: green; }
	.fa-times { color: red; }
	
	#search-clear {
	    position: absolute;
	    right: 5px;
	    top: 0;
	    bottom: 0;
	    height: 14px;
	    margin: auto;
	    font-size: 14px;
	    cursor: pointer;
	    color: #ccc;
	    display: none;
	}
</style>

<script type="text/javascript">
$( document ).ready(function() {
	//search filter
	$('#btn-search').click(function(){
		//alert('YOYO = ' + $('#search-text').val() + ' ' + $('#search-type option:selected').val());
		//$('#search-text').value();
		//$('#search-type:selected').value();
		$.ajax({
			url: "{{ path('qmxDashboard_admin_user_list') }}",
			data: {
				'search-text':  $('#search-text').val(),
				'search-type': $('#search-type option:selected').val(),
				'layoutExcluded': true
			},
			success: function( data ) {
				var html = $(data).html();
				html = html.replace(/layoutExcluded=true/gi, '');

				//alert('yoyo= ' + html);

				$('#block-pagination-body').replaceWith($(html).find('#block-pagination-body'));
			}
		});
	});
	$("#search-clear").click(function(){
	    $("#search-text").val('');
	    $("#search-clear").hide();
	});
	$("#search-text").keyup(function(){
	    if( $("#search-text").val().length){
	    	$("#search-clear").show();
		}else{
			$("#search-clear").hide();
		}
	});
});
		 
</script>
{% endif %}

{% endblock %}

