<div class="ajaxLoading"><!-- Place at bottom of page --></div>

<style>
	.ajaxLoading {
	    display:    none;
	    position:   fixed;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
	    background: rgba( 255, 255, 255, .8 ) 
	                url('{{ asset('bundles/quotemaxdashboard/images/ajax-loader.gif') }}')
	                50% 50% 
	                no-repeat;
	}
	
	/* When the body has the loading class, we turn
	   the scrollbar off with overflow:hidden */
	body.loading {
	    overflow: hidden;   
	}
	
	/* Anytime the body has the loading class, our
	   modal element will be visible */
	body.loading .ajaxLoading {
	    display: block;
	}
</style>

<script type="text/javascript">
	$body = $("body");
	$(document).on({
	    ajaxStart: function() { $body.addClass("loading");},
	    ajaxStop: function() { $body.removeClass("loading"); }    
	});
</script>