<div id="block-menu-main" class="row">
 {#}
 	Accessing the logged-in user in a template::
 		- http://stackoverflow.com/questions/7463650/accessing-the-logged-in-user-in-a-template
 {#}
<div class="col-md-3">
	<a href="{{ path('_root') }}" target="_self">
	<img class="logo-menu" src="{{ asset('bundles/quotemaxdashboard/images/logo_vsignpro.png') }}" />
	</a>
</div>

<div class="col-md-9">
	{{ knp_menu_render('QuotemaxDashboardBundle:Builder:mainMenu', { 'style': 'justified-pills' }) }}
</div>

{#}line spacing after top menu{#}
<div class="col-md-12">
	&nbsp;
</div>

</div>

{#}
<div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
{#}      