{% extends 'QuotemaxDashboardBundle::layoutBase.html.twig' %}


{% block header %}
    	{% if app.user %}
    		{# user is logged in #}
    		{% include "QuotemaxDashboardBundle::_sub/_main_menu.html.twig" %}
 		{% endif %}
{% endblock %}


{% block bodyContent %}
 		{#}row body for both sidebar + content{#}
 		{% if is_granted('ROLE_ADMIN') and '_admin_' in app.request.attributes.get('_route') %}
 			<div id="bodyContent-inner" class="row">
 			<div  class="col-md-2">
 				{% block sidebar %}
	 				{% if is_granted('ROLE_ADMIN') and '_admin_' in app.request.attributes.get('_route') %}
			 			{% include "QuotemaxDashboardBundle::_sub/_admin_menu.html.twig" %}
			 		{% endif %}
		 		{% endblock %}
 			</div>
 			<div class="col-md-10">
 				{% include 'QuotemaxDashboardBundle::flash.html.twig' with { 'close': true } %}
 				{% block content %}{% endblock %}
        		{#}{% block javascripts %}{% endblock %}{#}
 			</div>
 			</div>
 		{% else %}
 			<div id="bodyContent-inner" class="row">
 			<div class="col-md-12">
 				{% include 'QuotemaxDashboardBundle::flash.html.twig' with { 'close': true } %}
 				{{ block('content') }}
 			</div>
 			</div>
 		{% endif %}
 		
{% endblock %}
 		
        

{% block footer %}
	{% include 'QuotemaxDashboardBundle::_sub/_ajax_loading.html.twig' %}
	{% include 'QuotemaxDashboardBundle::_sub/_javascript_snippet.html.twig' %}
	{#}put footer content here{#}
	
{% endblock %}
