{% extends '::base.html.twig' %}

{% block body %}
<div id="container" class="container-fluid">
	{#}row header for top main menu{#}
	<div id="header" class="row">
		<div class="col-md-12">
			{% block header %}{% endblock %}
	 	</div>
	 </div>
 		
 	{#}row body for both sidebar + content{#}
 	<div id="bodyContent" class="row">
 		<div class="col-md-12">
			{% block bodyContent %}{% endblock %}
		 </div>
 	</div>
 		
        
    {#}row footer{#}
	<div id="footer" class="row">
		<div class="col-md-12">
	    	{% block footer %}{% endblock %}
		 </div>
	</div>
</div>

<style>
 body {padding: 6px;}
</style>	    	
 
{% endblock %}    
