<div id="block-pagination-body" class="row">
<div class="col-md-12">


	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped">
			<tr>
			{# sorting of properties based on query components #}
				{#}<th class="text-center"><input title="{{ 'Select all'|trans }}" type="checkbox" rel="all" /></th>{#}
			    {#}<th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'i.id') }}</th>{#}
			    <th{% if pagination.isSorted('i.code') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Quotation'|trans ~ ' #', 'i.code') }}</th>
			    <th{% if pagination.isSorted('i.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'i.createdAt') }}</th>
			    <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Company'|trans, 'c.name') }}</th>
			    <th{% if pagination.isSorted('i.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'i.name') }}</th>
			    <th{% if pagination.isSorted('i.priceGrandTotal') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Amount'|trans, 'i.priceGrandTotal') }}</th>
			    <th{% if pagination.isSorted('i.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'i.status') }}</th>
			    
			    {% if ('qmxDashboard_history_list' in includedFromRoute) %}
			   	 <th{% if pagination.isSorted('i.statusPayment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tracking No.'|trans, 'i.statusPayment') }}</th>
			    {% endif %}
			    
			    {% if is_granted('ROLE_ADMIN') and ('qmxDashboard_history_list' in includedFromRoute) %}
			    	<th{% if pagination.isSorted('i.statusPayment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Follow-up'|trans, 'i.statusPayment') }}</th>
			    {% endif %}
			    
			    {% if is_granted('ROLE_ADMIN') and ('qmxDashboard_order_list' not in includedFromRoute) %}
			    	 <th>{% trans %}Admin{% endtrans %}</th>	
			    {% endif %}
			   
			    <th>{% trans %}Actions{% endtrans %}</th>
			</tr>
			
			{# table body #}
			{% for item in pagination %}
			<tr {% if loop.index is odd %}class="color"{% endif %}>
				{#}
				<td class="text-center">
					<input type="checkbox" rel="{{ item.id }}" />
				</td>
				{#}
			    
			    {#}
			    <td>
			    	{{ item.id }}
			    </td>
			    {#}
			    
			    <td>
			    	<a target="_self" href="{{ path('qmxDashboard_quote_view', { 'id': item.id}) }}" onClick="" title="{{ 'View Quote'|trans }}">
			    		{{ item.code }}
			    	</a>			    	
			    </td>
			    
			    <td>
			    	{{ item.createdAt|date("d-m-Y") }}
			    	{#}
					{{ "now"|date("d-m-Y") }}			    
					{#}
			    </td>
			    
			    <td>
			    	{% if item.company is defined %}
			    	{% if item.company.name is defined %}
			    		{% if is_granted('ROLE_ADMIN') %}
			    			<a href="{{ path('qmxDashboard_admin_company_update', { 'id': item.company.users[0].user.id}) }}" target="_new" title="{% trans %}View Company Profile{% endtrans %}">
			    				{{ item.company.name }}
			    			</a>
			    		{% else %}
							{{ item.company.name }}
						{% endif %}
					{% endif %}
					{% endif %}
			    </td>
			    
			    <td>
			    	<span class="truncate">
						{{ item.name }}
					</span>	
			    </td>
			    
			    <td>
			    	{{ item.currency|upper }} {{ item.priceGrandTotalCC }}{#}{{ item.priceTotal|number_format(2) }}{#}
			    	
			    </td>
			    
			    <td>
			    	{% if 'CON' in item.status %}
			    		<i title="{% trans %}confirmed{% endtrans %}" class="fa fa-flag fa-lg fa-flag-green"></i>
			    	{% elseif 'PEN' in item.status %}
			    		<i title="{% trans %}new pending{% endtrans %}" class="fa fa-flag fa-lg fa-flag-yellow"></i>
			    	{% elseif 'PAD' in item.status %}
			    		<i title="{% trans %}paid{% endtrans %}" class="fa fa-flag fa-lg fa-flag-blue"></i>	
					{% elseif 'EXP' in item.status %}
			    		<i title="{% trans %}expired{% endtrans %}" class="fa fa-flag fa-lg fa-flag-red"></i>
			    	{% elseif 'DLV' in item.status %}
			    		<i title="{% trans %}shipped{% endtrans %}" class="fa fa-sm" style="font-style: italic;">{% trans %}Shipped{% endtrans %}</i>		
			    	{% else %}
			    		<i>n/a</i>
			    	{% endif %}
					
			    </td>
			    
			    
			    {% if ('qmxDashboard_history_list' in includedFromRoute) %}
				    {#}Tracking No.{#}
				    <td>
				    	<div class="" id="col-tracking-{{ item.id }}">
				    		{% if item.trackingNo %}
				    			{{ item.trackingNo }}
				    		{% endif %}
				    	</div>
				    </td>
			    {% endif %}
			    
			    
			    {% if is_granted('ROLE_ADMIN') and ('qmxDashboard_history_list' in includedFromRoute) %}
			    	<td class="text-center">
				     	{% if 'CON' in item.status %}{#}confirmed order, to confirm payment from client{#}
				    	{% if not item.statusPayment %}
				    		<a onClick="return confirm('{% trans %}Are you sure to proceed Confirm payment with this quote?{% endtrans %}');" href="{{ path('qmxDashboard_quote_status_confirm_payment', { 'id': item.id}) }}" title="{{  'Confirm payment from client'|trans }}">
				    			<i class="fa fa-credit-card fa-lg"> </i>
				    		</a>
				    	{% else %}
				    		{#}
				    		<a onClick="return confirm('{% trans %}Are you sure to proceed Deliver with this quote?{% endtrans %}');" href="{{ path('qmxDashboard_quote_status_confirm_payment', { 'id': item.id}) }}" title="{{  'Deliver to client'|trans }}">
				    			<i class="fa fa-truck fa-lg" ></i>
				    		</a>
				    		{#}
				    	{% endif %}
				    	{% endif %}
				    	
				    	{% if 'PAD' in item.status %} {#}paid order, to confirm delivery by admin{#}
				    		<a class="link-confirm-deliver" rel="{{ item.id }}" onClick="" href="javascript:void(0);"  title="{{  'Ship to client'|trans }}">
				    			<i class="fa fa-truck fa-lg" ></i>
				    		</a>
				    	{% endif %}
				    	
				    	{% if 'DLV' in item.status %} {#}delivered order to client{#}
				    			<i class="fa fa-truck fa-lg fa-grey" ></i>
				    	{% endif %}
			    	</td>
			    {% endif %}
			    
			    
			    
			    {% if is_granted('ROLE_ADMIN') and ('qmxDashboard_order_list' not in includedFromRoute) %}
				    <td>
				    	{% if 'CON' not in item.status %}
				    	{% if 'PEN' in item.status %}
				    		{% if is_granted('ROLE_SUPER_ADMIN') %}
				    			{% set url = path('qmxDashboard_quote_update', { 'id': item.id}) %}
				    			{% set className = '' %}
				    		{% else %}
				    			{% set url = '#' %}
				    			{% set className = 'fa-grey' %}
				    		{% endif %}
			    			{% if is_granted('ROLE_SUPER_ADMIN') %}
			    			<a href="{{ url }}" onClick="" title="{{ 'Edit Quote (For Super Admin only)'|trans }}"><i class="fa fa-edit fa-lg {{ className }}"> </i></a>
				    		{% endif %}
			    		{% endif %}
				    	
				    	{% endif %}
				    	
				    	{% if 'PEN' in item.status %}
				    		<a href="{{ path('qmxDashboard_quote_delete', { 'id': item.id}) }}" onClick="return confirm('{% trans %}Are you sure to delete this item?{% endtrans %}');" title="{{  'Delete Quote'|trans }}"><i class="fa fa-trash-o fa-lg"> </i></a>
				    	{% endif %}
				    </td>
			    {% endif %}
			    
			    
			    <td>
					{% if 'qmxDashboard_order_list' in includedFromRoute  %}
			    		<a class="btn btn-primary btn-sm btn-display-block" onClick="return confirm('{% trans %}Are you sure to proceed Order with this quote?{% endtrans %}');" href="{{ path('qmxDashboard_quote_status_confirm', { 'id': item.id}) }}" ><i class="fa fa-shopping-cart fa-fw"> </i> {% trans %}Order{% endtrans %}</a>
			    	{% else %}
				    	<a class="btn-quote-pdf" href="{{ path('qmxDashboard_quote_pdf', { 'id': item.id }) }}" onClick="" title="{{ 'Export Quote as PDF'|trans }}"><i class="fa fa-file-pdf-o fa-lg"> </i></a>
				    	<a class="btn-quote-print" href="{{ path('qmxDashboard_quote_print', { 'id': item.id }) }}" onClick="" title="{{  'Print Quote'|trans }}"><i class="fa fa-print fa-lg"> </i></a>
				    {% endif %}
			    </td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-2 pull-left">
			 {# total items count #}
				<div class="count">
				     {% trans %}Total Quotes{% endtrans %}: <span class="badge">{{ pagination.getTotalItemCount }}</span>
				</div>
		</div>
		<div class="col-md-4 pull-left text-top">
			{# display navigation #}
			<div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
		</div>
		
		<div class="col-md-4 col-md-offset-2 text-right">
			{% include 'QuotemaxDashboardBundle:Quote:_flag_legend.html.twig'  %}
		</div>
		
		{% if 'qmxDashboard_default_index' in app.request.attributes.get('includedFromRoute')%}
		{#}CLOSING, remove 'new quote' button as replaced by legend of flag status{#}
		{#}
		<div class="col-md-4 col-md-offset-2 text-right">
			
			<a href="{{ path('qmxDashboard_quote_create') }}" class="btn btn-primary">{% trans %}New Quote{% endtrans %}</a>
		</div>
		{#}
		{% endif %}
	</div>
	
	
</div>
</div>

<style>
	ul.pagination { margin: 0px;}
	.fa-flag-red { color: red; }
	.fa-flag-green { color: green; }
	.fa-flag-yellow { color: orange; }
	.fa-flag-blue { color: #2E64FE; }
	.fa-grey { color: grey; }
	.btn-display-block{
		display: block;
		padding: 3px 10px;
	}
	.truncate {
	  width: 300px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display:inline-block;
	}
	
</style>

<script type="text/javascript">
$(document).ready(function(){

	{#}for 'follow-up' menu{#}
	$('.link-confirm-deliver').click(function(event){
		
		if(confirm('{% trans %}Are you sure to proceed Ship with this quote?{% endtrans %}')){
			//add text input with button for inputting 'tracking_no'
			var itemId = $(this).attr('rel');
			
			var htmlInputGroup = "<div class='col-xs-9'><div class='input-group'><input type='text' id='input-add-tracking-" + itemId + "' placeholder='tracking no.' class='form-control input-sm'><span class='input-group-btn'><button id='btn-add-tracking-" + itemId + "' rel='" + itemId + "' type='button' class='btn btn-primary btn-sm'>Add</button></span></div></div>";
			var newInput = $(htmlInputGroup).attr({ 
								id: 'block-tracking-input-' + itemId
								/*type : 'text',
								class: 'form-control input-sm',
								id: 'tracking_no_' + itemId*/
							});
	
			newInput.find('#btn-add-tracking-' + itemId).click(function(event){
				//update tracking no & status to be 'Delivered'
				var url = "{{ path('qmxDashboard_quote_status_deliver') }}" + "?id=" + itemId + "&tracking-no=" + $("#input-add-tracking-" + itemId).val();
				//alert('yoyo=' + itemId + ' url=' +url);
				$(location).attr('href',url);
			});
			
			//newInput.html('#col-tracking-' + itemId);
			$('#col-tracking-' + itemId).html(newInput);
			
		}
	});
	
});
</script>


