{% block itemTable %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-12" >
		<table class="table table-bordered table-border-black">
			<thead>
				<tr class="table-invoice-head">
					<th class="text-center">{% trans %}Item{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Description{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Qty{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Unit Price{% endtrans %}<br>({{ quote.currency|upper }})</th>
					<th class="text-center">{% trans %}Amount{% endtrans %}<br>({{ quote.currency|upper }})</th>
				</tr>
			</thead>
			
			<tbody>
				{#}
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				{#}
				
				{#}product price{#}
				{% set countItem = 0 %}
				{% set subTotal = 0 %}
				{% for item in quote.detail.items %}
					<tr>
						<td class="text-center">{{ loop.index  }}</td>
						<td>
							{{ item.name }} <br>
							<span class="text-note-dimension">
							({% include "QuotemaxDashboardBundle:Quote:_sub/_quote_itemDimension.html.twig" with {"quote": quote, "item": item} %})
							</span>
						</td>
						<td class="text-center">
							{{ item.quantity }}
						</td>
						<td class="text-right">{{ item.priceSellingWithCurrencyConverted }}</td>
						<td class="text-right">{{ item.priceSellingTotalAllWithCurrencyConverted }}</td>
						{% set countItem = loop.index + 1 %}
						{% set subTotal = subTotal + item.priceSellingTotalAllWithCurrencyConverted %}
					</tr>
				{% endfor %}
				
				{#}transport price{#}
				{#}
				<tr>
					<td class="text-center">{{ countItem  }}</td>
					<td>Transport service</td>
					<td class="text-center">1</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
				</tr>
				{% set subTotal = subTotal + quote.priceTransportCC %}
				{#}
				
				{#} blank{#}
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				
				{#}sub total{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center table-invoice-cell-grey txt-strong">{% trans %}Sub-Total{% endtrans %}</td>
					<td class=" bordered text-right txt-strong">{{ subTotal }}</td>
				</tr>
				
				{#} blank{#}
				{#} 
				<tr><td>&nbsp;</td><td>&nbsp;</td><td  colspan="2"> </td><td>&nbsp;</td></tr>
				{#} 
				
				{#}discount{#}
				{%  if quote.discount != 0 %}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}discount{% endtrans %} ({{ options['tokens']['%discount%'] * 100 }}%)</td>
					<td class="bordered text-right">- {{ quote.discountCC }}</td>
				</tr>
				{% endif %}
				
				{#}admin fee{#}
				{%  if quote.adminFee != 0 %}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}administration fee{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.adminFeeCC  }}</td>
				</tr>
				{% endif %}
				
				{#}transport price{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}transport{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceTransportCC  }}</td>
				</tr>
				
				{#}adaptor price{#}
				{% if quote.priceAdaptorCC > 0%}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}adaptor{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceAdaptorCC  }}</td>
				</tr>
				{% endif %}
				
				{#}vat{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center txt-strong">{% trans %}VAT{% endtrans %}</td>
					<td class="bordered text-right">{{ '0.00'  }}</td>
				</tr>
				
				{#}grand total{#}
				<tr>
					<td colspan="2" class="bordered table-invoice-cell-grey txt-strong">&nbsp;</td>
					<td colspan="2"  class="bordered table-invoice-cell-grey text-center txt-strong">{% trans %}TOTAL{% endtrans %} ({{ quote.currency|upper }})</td>
					<td class="bordered text-right txt-strong">{{ quote.priceGrandTotalCC  }}</td>
				</tr>
					
			</tbody>
		</table>
	</div>
</div>
{% endblock %}