{% block pageBreak %}
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}


{% block cssStyleTemplate %}
<style>
.logo-pdf-invoice {
	height: 60px;
}		
.border-line-left{
	border-left: 1px solid #000;
	margin-left: 10px !important;
	padding-left: 4px !important;
}
.txt-strong{
	font-weight: bold;
}
.txt-italic{
	font-style: italic;
}
.block-radius{
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: -5px !important;
}
.table-invoice-head{
	background: none repeat scroll 0 0 #969696;
}
.text-note-dimension{
	font-size: 9px;
}

.table-border-black {
	border: 1px solid #000 !important;
}
.table-border-black th{
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}
.table-border-black td {
	border-top: 0px !important;
	border-bottom: 0px !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}

.table-border-black td.bordered{
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
}

.table-invoice-cell-grey{
	background: none repeat scroll 0 0 #969696;
}
.nobreak {
    page-break-after: always;
}
</style>
{% endblock %}





{% block remarkAndPaymentInfo %}

<div class="row">
	{#}ROW 1{#}
	<div class="col-xs-12" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Remarks{% endtrans %}
			</div>
			<div class="col-xs-12 col-xs-offset-0">
				 {% trans %}Delivery{% endtrans %} {{ options['tokens']['%order-delivery-period%'] }} {% trans %}days{% endtrans %}
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
	
	{#}ROW 2{#}
	<div class="col-xs-7" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Please arrange payment by swift to{% endtrans %}:
			</div>
			<div class="col-xs-12 col-xs-offset-0">
				 
				 {{ quote.detail.product.company.detail.bankAccountInfo|nl2br }}
			</div>
		</div>
	</div>
	<div class="col-xs-5" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}For{% endtrans %} {{ quote.detail.product.company.name }}
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="col-xs-12 col-xs-offset-0 text-left txt-italic">
				 {% trans %}Authorized signature{% endtrans %}
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
	
</div>
{% endblock %}

{% block itemTable %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-12" >
		<table class="table table-bordered table-border-black">
			<thead>
				<tr class="table-invoice-head">
					<th class="text-center">{% trans %}Item{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Description{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Qty{% endtrans %}<br>&nbsp;</th>
					<th class="text-center">{% trans %}Unit Price{% endtrans %}<br>({{ quote.currency|upper }})</th>
					<th class="text-center">{% trans %}Amount{% endtrans %}<br>({{ quote.currency|upper }})</th>
				</tr>
			</thead>
			
			<tbody>
				{#}
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				{#}
				
				{#}product price{#}
				{% set countItem = 0 %}
				{% set subTotal = 0 %}
				{% for item in quote.detail.items %}
					<tr>
						<td class="text-center">{{ loop.index  }}</td>
						<td>
							{{ item.name }} <br>
							<span class="text-note-dimension">
							({% include "QuotemaxDashboardBundle:Quote:_sub/_quote_itemDimension.html.twig" with {"quote": quote, "item": item} %})
							</span>
						</td>
						<td class="text-center">
							{{ item.quantity }}
						</td>
						<td class="text-right">{{ item.priceSellingWithCurrencyConverted }}</td>
						<td class="text-right">{{ item.priceSellingTotalAllWithCurrencyConverted }}</td>
						{% set countItem = loop.index + 1 %}
						{% set subTotal = subTotal + item.priceSellingTotalAllWithCurrencyConverted %}
					</tr>
				{% endfor %}
				
				{#}transport price{#}
				{#}
				<tr>
					<td class="text-center">{{ countItem  }}</td>
					<td>Transport service</td>
					<td class="text-center">1</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
					<td class="text-right">{{ quote.priceTransportCC }}</td>
				</tr>
				{% set subTotal = subTotal + quote.priceTransportCC %}
				{#}
				
				{#} blank{#}
				<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				
				{#}sub total{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center table-invoice-cell-grey txt-strong">{% trans %}Sub-Total{% endtrans %}</td>
					<td class=" bordered text-right txt-strong">{{ subTotal }}</td>
				</tr>
				
				{#} blank{#}
				{#} 
				<tr><td>&nbsp;</td><td>&nbsp;</td><td  colspan="2"> </td><td>&nbsp;</td></tr>
				{#} 
				
				{#}discount{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}discount{% endtrans %} ({{ options['tokens']['%discount%'] * 100 }}%)</td>
					<td class="bordered text-right">- {{ quote.discountCC }}</td>
				</tr>
				
				{#}admin fee{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}administration fee{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.adminFeeCC  }}</td>
				</tr>
				
				{#}transport price{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}transport{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceTransportCC  }}</td>
				</tr>
				
				{#}adaptor price{#}
				{% if quote.priceAdaptorCC > 0%}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center">{% trans %}adaptor{% endtrans %}</td>
					<td class="bordered text-right">{{ quote.priceAdaptorCC  }}</td>
				</tr>
				{% endif %}
				
				{#}vat{#}
				<tr>
					<td> </td>
					<td> </td>
					<td colspan="2"  class="bordered text-center txt-strong">{% trans %}VAT{% endtrans %}</td>
					<td class="bordered text-right">{{ '0.00'  }}</td>
				</tr>
				
				{#}grand total{#}
				<tr>
					<td colspan="2" class="bordered table-invoice-cell-grey txt-strong">&nbsp;</td>
					<td colspan="2"  class="bordered table-invoice-cell-grey text-center txt-strong">{% trans %}TOTAL{% endtrans %} ({{ quote.currency|upper }})</td>
					<td class="bordered text-right txt-strong">{{ quote.priceGrandTotalCC  }}</td>
				</tr>
					
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


{% block dateAndTermsOfPayment %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Date{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				 {{ quote.createdAt|date("d-m-Y") }}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Due Date{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{#}TEMP CLOSING{#}
				{#}{{ options['dueDate']|date("d-m-Y") }}{#}
				 {{ quote.confirmedAt|date("d-m-Y") }}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Terms of Payment{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{% trans %}Advance Payment{% endtrans %}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Invoice No{% endtrans %}.
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				 {{ quote.code }}
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
	
</div>
{% endblock %}

{% block clientLocation %}
<div class="row">
	{#}ROW 1{#}
	<div class="col-xs-12 pull-right text-right" >
		<h4 class="txt-strong">{% trans %}ORIGINAL INVOICE{% endtrans %}</h4>
	</div>
	
	{#}ROW 2{#}
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Sold To{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.billingAddress.address }} <br>
				{{ quote.company.billingAddress.city }}, {{ quote.company.billingAddress.zipcode }}, {{ quote.company.billingAddress.country }} <br>
				{% trans %}Phone:{% endtrans %} {{ quote.company.phoneNumber }} <br>
				{% trans %}Fax:{% endtrans %} {{ quote.company.faxNumber }} <br>
			</div>
		</div>
	</div>
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Ship To{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.shippingAddress.address }} <br>
				{{ quote.company.shippingAddress.city }}, {{ quote.company.shippingAddress.zipcode }}, {{ quote.company.shippingAddress.country }} <br>
				{% trans %}Phone:{% endtrans %} {{ quote.company.phoneNumber }} <br>
				{% trans %}Fax:{% endtrans %} {{ quote.company.faxNumber }} <br>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
</div>
{% endblock %}


{% block headerInvoice %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-4" >
		<img src="{{ asset('bundles/quotemaxdashboard/images/' ~ quote.detail.product.company.detail.logo, null, true) }}" class="logo-pdf-invoice" />
	</div>
	<div class="col-xs-5 border-line-left" >
		{{ quote.detail.product.company.name }} <br>
		{{ quote.detail.product.company.billingAddress.address }} <br>
		{% trans %}Phone:{% endtrans %} {{ quote.detail.product.company.phoneNumber }} <br>
		{% trans %}Fax:{% endtrans %} {{ quote.detail.product.company.faxNumber }} <br>
	</div>
</div>
{% endblock %}

