{% block headerInvoice %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-6" >
		<img src="{{ asset('bundles/quotemaxdashboard/images/' ~ quote.detail.product.company.detail.logo, null, true) }}" class="logo-pdf-invoice" />
	</div>
	<div class="col-xs-5 border-line-left" >
		{{ quote.detail.product.company.name }} <br>
		{{ quote.detail.product.company.billingAddress.address }} <br>
		{% trans %}Phone:{% endtrans %} {{ quote.detail.product.company.phoneNumber }} <br>
		{% trans %}Fax:{% endtrans %} {{ quote.detail.product.company.faxNumber }} <br>
	</div>
</div>
{% endblock %}

