{% block clientLocation %}
<div class="row">
	{#}ROW 1{#}
	<div class="col-xs-12 pull-right text-right" >
		{% if templateInclude is defined and templateInclude == 'quotation' %}
			<h4 class="txt-strong">{% trans %}QUOTATION{% endtrans %}</h4>
		{% else %}
			<h4 class="txt-strong">{% trans %}ORIGINAL INVOICE{% endtrans %}</h4>	
		{% endif %}
	</div>
	
	{#}ROW 2{#}
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Sold To{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.billingAddress.address }} <br>
				{{ quote.company.billingAddress.city }}, {{ quote.company.billingAddress.zipcode }}, {{ quote.company.billingAddress.country }} <br>
				{% trans %}Phone:{% endtrans %} {{ quote.company.phoneNumber }} <br>
				{% trans %}Fax:{% endtrans %} {{ quote.company.faxNumber }} <br>
			</div>
		</div>
	</div>
	<div class="col-xs-6" >
		<div class="row block-radius">
			<div class="col-xs-12 txt-strong">
				{% trans %}Ship To{% endtrans %}:
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{{ quote.company.name }} <br>
				{{ quote.company.shippingAddress.address }} <br>
				{{ quote.company.shippingAddress.city }}, {{ quote.company.shippingAddress.zipcode }}, {{ quote.company.shippingAddress.country }} <br>
				{% trans %}Phone:{% endtrans %} {{ quote.company.phoneNumber }} <br>
				{% trans %}Fax:{% endtrans %} {{ quote.company.faxNumber }} <br>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
</div>
{% endblock %}