{% block dateAndTermsOfPayment %}
{#}ROW 1{#}
<div class="row">
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Date{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				 {{ quote.createdAt|date("d-m-Y") }}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% if templateInclude is defined and templateInclude == 'quotation' %}
					{% trans %}Expiration Date{% endtrans %}
				{% else %}
					{% trans %}Due Date{% endtrans %}
				{% endif %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{#}TEMP CLOSING{#}
				{#}{{ options['dueDate']|date("d-m-Y") }}{#}
				 
				{% if templateInclude is defined and templateInclude == 'quotation' %}
					{{ quote.createdAt|date_modify("+" ~ options['tokens']['%quotation-validity-period%'] ~ " day")|date("d-m-Y") }}
				{% else %}
					{{ quote.createdAt|date_modify("+" ~ options['tokens']['%quotation-validity-period%'] ~ " day")|date("d-m-Y") }}
					{#} //TBC: Temp comment for modify later
					{{ quote.confirmedAt|date("d-m-Y") }}
					{#}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% trans %}Terms of Payment{% endtrans %}
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				{% trans %}Advance Payment{% endtrans %}
			</div>
		</div>
	</div>
	<div class="col-xs-3" >
		<div class="row block-radius">
			<div class="col-xs-12 text-center txt-strong">
				{% if templateInclude is defined and templateInclude == 'quotation' %}
					{% trans %}Quotation No{% endtrans %}.
				{% else %}
					{% trans %}Invoice No{% endtrans %}.
				{% endif %}
				
			</div>
			<div class="col-xs-10 col-xs-offset-2">
				 {{ quote.code }}
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">&nbsp;</div>
	
</div>
{% endblock %}