{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{#}
{{ form(form) }}
{#}

{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="form-group form-begin-control">
	    <div class="col-lg-10 col-lg-offset-0">
	    	
	    	{{ form_row(form.currencies) }}
	    	
	    </div>
    </div>
{{ form_end(form) }}    

<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#currencies_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with updating currency rates?{% endtrans %}');
		});


		$('#currencies_currencies_2_rate').change(function(event){ //for 'EUR / THB'
			$(this).val($.trim($(this).val()));
			var value = $(this).val();
			var reversedValue = 100 / (value*100);

			reversedValue = precise_round(reversedValue, 4);

			$('#currencies_currencies_0_rate').val(reversedValue);
		});

		$('#currencies_currencies_3_rate').change(function(event){ //for 'USD / THB'
			$(this).val($.trim($(this).val()));
			var value = $(this).val();
			var reversedValue = 100 / (value*100);
			
			reversedValue = precise_round(reversedValue, 4);
			
			$('#currencies_currencies_1_rate').val(reversedValue);
		});

		$('#currencies_currencies_0, #currencies_currencies_1').hide();
	});

	 function precise_round(num, decimals) {
		 var t=Math.pow(10, decimals);   
		  return (Math.round((num * t) + (decimals>0?1:0)*(Math.sign(num) * (10 / Math.pow(100, decimals)))) / t).toFixed(decimals);
		     }
</script>
{% endblock %}