{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{#}
{{ form(form) }}
{#}

{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<div class="form-group form-begin-control">
	    <div class="col-lg-10 col-lg-offset-0">
	    	
	    	{{ form_row(form.variables) }}
	    	
	    </div>
    </div>
{{ form_end(form) }}    

<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#variables_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with updating homepage messages?{% endtrans %}');
		});
	});
</script>
{% endblock %}