{% extends 'QuotemaxDashboardBundle::layout.html.twig' %}

{% block content %}
{#}
{{ form(form) }}
{#}

{{ form_start(form, { 'style': 'horizontal' }) }}
	<div class="row block-button-1">
	    <div class="col-lg-10 text-right">
	    	
		    {{ form_widget(form.cancel) }}
		    &nbsp;&nbsp;&nbsp;&nbsp;
		    {{ form_widget(form.saveChanges) }}
		    
		</div>
		<div class="col-lg-12">&nbsp;</div>
	</div>
	
	<ul class="nav nav-tabs">
        <li class="active"><a href="#{{ companies[0].clientCode }}" data-toggle="tab">{{ companies[0].name }}</a></li>
        <li><a href="#{{ companies[1].clientCode }}" data-toggle="tab">{{ companies[1].name }}</a></li>
    </ul>
	
	<div class="tab-content">
        <div class="tab-pane active" id="{{ companies[0].clientCode }}">
            <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<br>
	    		{% set variableObj = form.variables[1] %}
	            {{ form_row(variableObj) }}
	            		
	    		{% set variableObj = form.variables[3] %}
	            {{ form_row(variableObj) }}
	            
	            {% set variableObj = form.variables[4] %}
	            {{ form_row(variableObj) }}
            </div>
            </div>
               				
        </div>
        <div class="tab-pane" id="{{ companies[1].clientCode }}">
        	<div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<br>
	            {% set variableObj = form.variables[0] %}
	            {{ form_row(variableObj) }}
	            		
				{% set variableObj = form.variables[2] %}
	            {{ form_row(variableObj) }}
	         </div>
	         </div>
            
        </div>
        
     </div>
     
	
{{ form_end(form) }}    

<style>
.txt-link {
	font-size:  13px;
	margin-left: 54px;	
}
.block-fileUpload{
	margin-top: 7px;
}
.form-control{
	width: 280px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#variables_saveChanges').click(function(event){
			return confirm('{% trans %}Are you sure to proceed with updating items?{% endtrans %}');
		});
	});
</script>
{% endblock %}