<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

{% block content %}


{% set adminCompany = quote.detail.product.company %}
<div class="container-fluid" style="font-size: 11px;{#}font-size: 12px; letter-spacing: 0.09em;{#}">
<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-12 col-xs-offset-0">
	<div class="row">
	<div class="col-xs-12">
	
		{#}PUT CONTENT HERE{#}	
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_headerInvoice.html.twig" %}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_clientLocation.html.twig"  with { 'templateInclude': 'invoice'}  %}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_dateAndTermsOfPayment.html.twig" %}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_itemTable.html.twig" %}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_remark.html.twig" %}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_paymentInfo.html.twig" %}
		
		{#}
		{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_pageBreak.html.twig" %}
		{#}

		
			
	</div>
	</div>
</div>
</div>
</div>

{#}
{% include 'QuotemaxDashboardBundle:Quote:pdf.html.twig' with { 'quote': quote} %}
{#}

{% include "QuotemaxDashboardBundle:Email:_sub/_block_invoice_cssStyleTemplate.html.twig" %}
{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}

{% if 'qmxDashboard_quote_print_invoice' in app.request.attributes.get('_route') %}

<script type="text/javascript">
	//$(document).ready(function(){
		window.print();
		window.close();
	//});
</script>
{% endif %}

{% endblock %}





