{% block content %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}

{#}
{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
{#}

<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-10 col-xs-offset-1">

	<div class="row">
		<div class="col-xs-11">
			{% trans %}Dear Partner{% endtrans %},
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}Many thanks for your payment you will now receive order No{% endtrans %} {{ quote.code }} {% trans %}within{% endtrans %} {{ tokens['%order-delivery-period%'] }} {% trans %}business days{% endtrans %}.
			<br>
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}All the best{% endtrans %},
			<br>
			{% trans %}The Sales Team{% endtrans %}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>

</div>
</div>


<style>

</style>

{% endblock %}