{% block content %}

{% include 'QuotemaxDashboardBundle:Quote:_sub/bootstrap_css.html.twig' with { 'quote': quote} %}

{#}
{% include 'QuotemaxDashboardBundle:Quote:_sub/quote_info.html.twig' with { 'quote': quote} %}
{#}

<div id="block-dashboard-email-invoice" class="row">
<div class="col-xs-10 col-xs-offset-1">

	<div class="row">
		<div class="col-xs-11">
			{% trans %}Dear Partner{% endtrans %},
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}Your quotation has now been confirmed and you will find the invoice attached.{% endtrans %}
			<br>
			{% trans %}Please proceed with the payment to avoid any delay in the service.{% endtrans %}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-xs-11">
			{% trans %}Thank you{% endtrans %},
			<br>
			{% trans %}The Sales Team{% endtrans %}
		</div>
		<div class="col-xs-11">&nbsp;</div>
	</div>

</div>
</div>


<style>

</style>

{% endblock %}